doctype html
html(data-ng-app="ontour")
    head
        meta(name="viewport", content="initial-scale=1.0, user-scalable=no")
        meta(charset="utf-8")
        title Ontour.im | Музыкальный тур
        meta(name="description", content="Запланируй свой музыкальный тур")
        
        link(rel="icon", type="image/png", href="img/ontour-ico.png")
        link(rel="stylesheet", href="css/normalize.css")
        link(rel="stylesheet", href="css/all.min.css")
        link(rel="stylesheet", href="https://api.tiles.mapbox.com/mapbox.js/v2.0.1/mapbox.css")
        link(rel="stylesheet", href="lib/font-awesome/css/font-awesome.min.css")
    
    body(ng-controller="MapController")
        section(ng-controller="MenuController")

            section(ng-controller="SearchController")

                menu(id="search", 
                     ng-class="{'slide-menu' : pages.page}",
                     class="fade-animation")
                    section
                        nav(ng-repeat="tab in tabTitles",
                            ng-click="switchTab(tab)", 
                            ng-class="{'active' : menu.activeTab.title === tab.title}",
                            ng-bind="tab.name",
                            ng-cloak,
                            class="tab")

                    section(ng-controller="AutocompleteController")
                        form(name="menuForm")
                            input(ng-class="{'invalid' : menuForm.searchValue.$invalid}", 
                                  ng-model="menu.searchValue",
                                  ng-keydown="getAutocompleteData(menu.searchValue)",
                                  ng-cloak,
                                  class="search-field",
                                  name="searchValue",
                                  placeholder="Введите {{menu.activeTab.title}}")
                        
                        section(class="autocomplete")
                            div(ng-repeat="item in autocomplete.items",
                                ng-click="search(item.name)",
                                ng-mouseover="selectItem(item)",
                                ng-class="{'hover' : autocomplete.activeItem === item}",
                                ng-cloak)
                                a {{item.name}} {{item.meta}}
                    
                    section(class="tags",
                            ng-if="menu.activeTab.title === 'location'",
                            class="fade-animation")
                        div(ng-repeat="tag in tags",
                            ng-click="switchTag(tag)",
                            ng-class="{'active' : menu.activeTag === tag}",
                            ng-bind="tag",
                            ng-cloak,
                            class="tag")
                    
                    a(class="search-button", ng-click="search(menu.searchValue)") Поиск

                    a(ng-click="setFestivalsOnly()",
                      ng-class="{'active' : menu.festivalsOnly === 1}",
                      title="Только фестивали",
                      class="festivals") Ф

                section(id="events", ng-controller="EventController")
                    div(class="event-item",
                        ng-repeat="event in events",
                        ng-class="{'selected' : event.selected || event.focused}",
                        ng-click="selectEvent(event)",
                        ng-mouseenter="showPopup(event, 1)",
                        ng-mouseleave="hidePopup(event)",
                        ng-cloak)
                         img(ng-src="{{event.image[3]['#text']}}", class="artist-pic")
                         div(class="artist-data") {{event.date}} <br/> {{event.artists.headliner}} <br/><br/> {{event.venue.name}} <br/> {{event.venue.location.city}} {{event.venue.location.country}} <br/>
                    div(class="more",
                        ng-click="nextPage()",
                        ng-show="events.length",
                        ng-cloak) {{pages.page}}/{{pages.totalPages}} Ещё <i ng-cloak ng-show="searchStatus" class="fa fa-spinner fa-spin"></i>
 
        section(id="map")

        section(id="about") Ontour {{ontourDate}}

        section(id="page-controls")
            a(href="/welcome")
                <i class="fa fa-home fa-2x"></i>

        script(src="js/vendor/angular.min.js")
        script(src="js/vendor/angular-animate.min.js")
        script(src="https://api.tiles.mapbox.com/mapbox.js/v1.6.2/mapbox.js")
        script(src="https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/leaflet.markercluster.js")
        script(src="js/main.js")